html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: 'Karla', sans-serif;
  line-height: 20px;
  color: #333333;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: #333;
}

a img {
  border: none;
}
/*my image css*/


.image-lightbox img {
	/* Inherit the width and height from the parent element */
	width: inherit;
	height: inherit;
	z-index: 3000;
}

.holder {
	/* The width and height, you can change these */
	width: 400px;
	height: 300px;
	/* Float left, so everything aligns right */
	float: left;
	margin: 0 20px 0 0;
	
	
}

.image-lightbox {
	/* Inherit width and height from the .holder */
	width: inherit;
	height: inherit;
	padding: 10px;
	/* Box shadow */
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	background: #fff;
	border-radius: 5px;
	/* Position absolutely so we can zoom it out later */
	position: absolute;
	
	font-family: Arial, sans-serif;
	/* Transitions to provide some eye candy */
	-webkit-transition: all ease-in 0.5s;
	-moz-transition: all ease-in 0.5s;
	-ms-transition: all ease-in 0.5s;
	-o-transition: all ease-in 0.5s;
}

.image-lightbox span {
	display: none;
}

.image-lightbox .expand {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 4000;
	background: rgba(0,0,0,0); /* Fixes an IE bug */
	left: 0;
}

.image-lightbox .close {
	position: absolute;
	width: 20px;
	height: 20px;
	right: 20px; 
}

.image-lightbox .close a {
	height: auto; 
	width: auto;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	background: #22272c;
	box-shadow: inset 0px 24px 20px -15px rgba(255, 255, 255, 0.1), inset 0px 0px 10px rgba(0,0,0,0.4), 0px 0px 30px rgba(255,255,255,0.4);
	border-radius: 5px;
	font-weight: bold;
	float: right;
}

.image-lightbox .close a:hover {
	box-shadow: inset 0px -24px 20px -15px rgba(255, 255, 255, 0.01), inset 0px 0px 10px rgba(0,0,0,0.4), 0px 0px 20px rgba(255,255,255,0.4);
}

div[id^=image]:target {
	width: 900px;
	height: 600px;
	z-index: 5000;	
	left: 200px;
}
div[id^=image]:target .close {
	display: block;
}

div[id^=image]:target .expand {
	display: none;
}
/*end my image css*/

.details {
  max-width: 1024px;
  margin: 0 auto;
}

.right {
  float: right;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  background-color: #fafafa;
  line-height: 100px;
  font-size: 15px;
  z-index: 1000;
}

.mobile-nav {
  display: none;
}

.myName {z-index: 88888;}

#illustration {
  background-color: #1597C2;
  width: 100%;
  padding-bottom: 50px;
  text-align: right;
}

#illustration img {
  padding-top: 150px;
  width: 50%;
  min-width:800px;
}

#illustration p {
  font-family: "Courier New";
  letter-spacing: 0.1em;
  color: #fafafa;
  padding-top: 60px;
  font-weight: 100;
  font-size: 14px;
}

#aboutMe a {
  color: #3a92c8;
  text-decoration: none;
}

#aboutMe a:hover {
  text-decoration: underline;
}

#nav {
  background-color: #fafafa;
  height:60px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
}

#aboutMe {
  background-color: #732673;
  height: 1020px;
  margin-top:-30px;
}

#code {

  border-radius: 5px;
  width:750px;
  margin: 0 auto;
  padding-top:15px;
  font-size:30px;
  background: #ccc;
  height: 700px;
  font-family: 'Monaco', 'Courier New';
  text-align: left;
  font-size:13px;
  color: #fafafa;
}

#program {
  width:670px;
  padding: 40px;
  height: 620px;
  margin:0 auto;
  background: #383737;
}

span.answer {
  color:#ccc;
}

#aboutMe p {
  text-align: center;
  padding-top: 60px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.3em;
  font-weight: 700;
  color: #fafafa;
  font-size: 11px;
  text-transform: uppercase;

}

.tagline {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.3em;
  font-weight: 700;
  padding-bottom: 50px;
  font-size: 11px;
  text-transform: uppercase;
}

.section-tagline {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.3em;
  font-weight: 700;
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid #CEC8C8;
  font-size: 11px;
  text-transform: uppercase;
}

.skills {
  border: 1px solid #50a9d1;
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: 500;
  width: auto;
  display: inline-block;
  font-size: 11px;
  line-height: 1.33333em;
  padding: 7px 18px;
  margin-top: 0.8em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

.design {
  border-color: #86BE91;
}

#resume {
  background-color: #ddd;
  height: auto;
  margin-top: -20px;
  padding-top: 20px;
/*  //font-family: 'Karla';*/
  font-size: 19px;
  line-height: 24px;
  text-align:left;
  -webkit-font-smoothing: antialiased;
}

#resume .details {
  width:700px;
}

img.icon {
  width: 65px;
  height: 65px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius:50%;
  float: left;
  display: block;
  margin-left: -95px;
  margin-top: 5px;
  background-color: #fff;
  opacity: 0.8;
  z-index: 0;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);   /*For Webkit browsers */
  filter: gray;  /* For IE 6 - 9 */
  -webkit-transition: all .4s ease;
}

img.icon:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  filter: none;
}

#skills {
  background: #eee;
  height: auto;
  margin-top: -30px;
  text-align: center;
  padding: 60px 0 60px 0;
  font-size: 26px;
  line-height: 40px;
}

#projects {
  background: #eee;
  height: auto;
  margin-top: -30px;
  text-align: center;
  padding: 60px 0 60px 0;
  font-size: 26px;
  line-height: 40px;
}

.row {
  clear: both;
  width: 90%;
  padding: 60px 0 60px 0;
}


.portfolio-thumb {
  width: 45%;
  margin: 20px;
  background-color: white;
  display: inline-block;
  /*//height: 500px;*/
}
.portfolio-text {
  width: 75%;
  margin-left:-10px;
  background-color: white;
  text-align:left;
  display: inline-block;
  font-size: 14px;
  padding: 25px;
  padding-top: 0px;
  line-height: 24px;
  margin: 0 auto;
  /*//height: 500px;*/
}

.portfolio-thumb img {
  width: 100%;
}

.portfolio-thumb p {
  font-size: 14px;
  padding: 25px;
  padding-top: 0px;
  text-align: left;
  line-height: 24px;
}

.portfolio-thumb a {
  text-decoration: underline;
}

.portfolio-big {
  width: 95%;
 /* height: 680px;*/
}

#footer{
  background: #fafafa;
  min-height: 40px;
  max-height:60px;
  text-align: center;
  color: #b1b1b1;
  padding-top: 20px;
  font-size: 12px;
  line-height: 20px;
  width:100%;
  position:absolute;

}

/*tableOfContents*/
.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  position: absolute;
  top:0px;
  right: 0px;
  padding: 70px 50px 0 10px;
}

.tableContents {
  text-align: right;
/*  //min-width: 60px;*/
  z-index: 30000;

}

.tableContents a {
  text-decoration: none;
}

.tableContents li li a {
  padding-left: 60px;
}

.tableContents li li li a {
  padding-left: 90px;
}

.tableContents li a:hover {
  color: #000;
/*  padding-left: 35px;*/
}

.tableContents li li a:hover {
  padding-left: 65px;
}

.tableContents li li li a:hover {
  padding-left: 95px;
}

.tableContents {
  position: fixed;
  right: 0;
}

a.tableContentsBar {
  color: #ccc;
  position: relative;
  display: block;
  z-index: 1000;
  min-width:200px;
  height: 40px;
  line-height: 40px;
  padding-right: 30px;
  padding-top: 24px;
  width: 100%;
  background: #fafafa;
}

a.tableContentsBar:hover {
  background: #fafafa;
}

.tableContentsBar span {
  font-size: 30px;
  margin-right: 70px;
  display: inline-block;
  -webkit-transition: -webkit-transform .4s ease;
  -moz-transition: -moz-transform .4s ease;
  -o-transition: -o-transform .4s ease;
  -ms-transition: -ms-transform .4s ease;
  transition: transform .4s ease;
}

.tContents {
  position: absolute;
  z-index: 10;
  text-align: center;
  opacity: 0.5;
  right:0px;
  background: #fafafa;
  width: auto;
  padding-top: 60px;
}

.tab,.tab ul {
  list-style: none;
  margin: 50px;
  padding: 0;
  width: auto;
}

ul.tContents {
  -webkit-padding-start: 0px;
}

.tab a {
  color: #333;
  padding: 5px 20px 5px 30px;
  display: block;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.closed {
  display: block;
}

.top-link {
  display: block;
  text-decoration: none;
  position: fixed;
  bottom: 0;
  right: 2%;
  padding: 8px 16px 0 16px;
  height: 30px;
  font-size: 14px;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}

@media screen and (max-width:860px) {
  .portfolio-thumb {
    width: 90%;
  }
}


@media screen and (max-width:700px) {
  #code, #program {
    width: 100%;
    overflow: hidden;
  }

  #illustration {
    overflow: hidden;
  }

  #resume .details {
    width: 85%;
  }

  #resume .right {
    display: none;
  }

}

@media (max-width: 480px) {
  
  .tableContents {
    display: none;
  }

  .mobile-nav {
    display: inline-block;
    -webkit-padding-start: 5px;
    -webkit-margin-before: 0;
    float: right;
  }

  #header {
    line-height: 30px;
    padding-top: 30px;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 15px;
  }

  #header .myName {
    width:40%;
    float: left;
    font-size: 12px;
    display: inline-block;
  }

  #header .nav {
    display: inline-block;
    float: left;
    width: 55%;
    padding-right: 10px;
  }
 

  li.mobile-header {
    display: inline-block;
    font-size: 10px;
    line-height: 10px;
    padding-right: 10px;
  }

  li.mobile-header a {
    color: #b1b1b1;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) { 
/* STYLES GO HERE */
  .tableContents {
    display: none;
  }

  .mobile-nav {
    display: inline-block;
    -webkit-padding-start: 5px;
    -webkit-margin-before: 0;
    float: right;
  }

  #header {
    padding-top: 20px;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 15px;
  }

  #header .myName {
    width:40%;
    float: left;
    font-size: 10px;
    padding-top: 2px;
    display: inline-block;
  }

  #header .nav {
    display: inline-block;
/*    float: left;*/
    width: 55%;
        padding-right: 10px;
  }

  li.mobile-header {
    display: inline-block;
    font-size: 8px;
    line-height: 10px;
    padding-right: 5px;
  }

  li.mobile-header a {
    color: #b1b1b1;
  }

  #illustration {
    padding-bottom: 0px;
  }

  #illustration img {
    padding-top: 40px;
  }

  .tagline {
    padding-bottom : 20px; 
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .tableContents {
    display: none;
  }

  .mobile-nav {
    display: inline-block;
    -webkit-padding-start: 5px;
    -webkit-margin-before: 0;
    float: right;
  }

  .tagline {
    padding-bottom : 20px; 
  }

  #header {
    line-height: 10px;
    padding-top: 20px;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 10px;
  }

  #header .myName {
    width:40%;
    padding-top: 2px;
    float: left;
    font-size: 10px;
    display: inline-block;
  }

  #header .nav {
    display: inline-block;
/*    float: left;*/
    width: 55%;
        padding-right: 10px;
  }

  li.mobile-header {
    display: inline-block;
    font-size: 8px;
    line-height: 10px;
    padding-right: 5px;
  }

  li.mobile-header a {
    color: #b1b1b1;
  }

  #aboutMe .details {
    padding: 0px 10px 0px 10px;
  }
  #code, #program {
    height:auto;
  }
  
  #program {
    padding: 20px;
  }

  #code {
    margin-bottom: 20px;
  }
}
