.portfolio-thumb {
  width: 45%;
  margin: 20px;
  background-color: white;
  display: inline-block;
  /*//height: 500px;*/
}

.portfolio-thumb img {
  width: 100%;
}

.portfolio-thumb p {
  font-size: 14px;
  padding: 25px;
  padding-top: 0px;
  text-align: left;
  line-height: 24px;
}

.portfolio-thumb a {
  text-decoration: underline;
}

.portfolio-big {
  width: 95%;
 /* height: 680px;*/
}