* {
	margin: 0;
	padding: 0;
	border: 0;
}

h1 {
	text-align: center;
	font-size: 575%;
	color: #4A4444;
	text-transform: uppercase;
	letter-spacing: 1%;
	margin: 45% 0;
}

h2 {
	text-align: center;
	font-size: 275%;
	color: #E5E5E5;
	text-transform: uppercase;
	letter-spacing: 1%;
	margin: 45% 0;
}

/*---Start Parallax---*/

.parallax {
	background: url("https://farm8.staticflickr.com/7385/16242321750_00a8c2d596_b.jpg") repeat fixed 100%;
}

/*---End Parallax---*/
